<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="g4rb4g3.at.ioniqpowertoys">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Power toys for Hyundai Ioniq EV (28kWh)" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>
</manifest>
